<template>
  <div class="home">
      <dt-description />
      <dt-range />

      <transition name="trs-fade-out-fast" mode="out-in">
        <dt-loader v-if="getLoadingStatus" />
        <dt-timeslots v-if="getTimeSlotsList !== null && !getLoadingStatus" />
      </transition>
  </div>
</template>
<script>
import {mapGetters} from "vuex";

export default {
  computed: {
    ...mapGetters('time-slots', ['getTimeSlotsList', 'getLoadingStatus'])
  }
}
</script>
