.dt-loader {
  // Vars

  // Support
  @keyframes dt-loader-ring {
    0% { transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }

  // Module
  & {
    margin: 4rem 0;
    text-align: center;

    .dt-loader__inner {
      display: inline-block;
      position: relative;
      width: 8rem;
      height: 8rem;
    }

    .dt-loader__item {
      display: block;
      position: absolute;
      width: 6.4rem;
      height: 6.4rem;
      margin: 0.8rem;
      border: 0.5rem solid $c-primary;
      border-radius: 50%;
      animation: dt-loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $c-primary transparent transparent transparent;
    }

    .dt-loader__text {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }
  }

  // Facets
  & {
    .dt-loader__item:nth-child(1) {
      animation-delay: -0.45s;
    }
    .dt-loader__item:nth-child(2) {
      animation-delay: -0.3s;
    }
    .dt-loader__item:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  // States
}
