<template>
  <div class="dt-loader">
    <div class="dt-loader__text">{{ $t('global.loading') }}</div>
    <div class="dt-loader__inner">
      <div class="dt-loader__item" v-for="n in 4" :key="n"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "dt-loader"
}
</script>
