.dt-timeslots-patient {
    // Vars

    // Support

    // Module
    & {
      position: absolute;
      top: 0;
      background-color: $c-white;
      width: 100%;
      height: 100%;
      border: 1px solid $c-border;
      box-shadow: $box-shadow;
      left: 0;
      padding: 2rem;

      .dt-timeslots-patient__form {
        .form__inner {
          padding-top: 3rem;
          padding-bottom: 3rem;
        }
      }

      .dt-timeslots-patient__close {
        position: absolute;
        right: 2rem;
      }

      .dt-timeslots-patient__booked {
        color: $c-green;
        font-size: 2rem;
      }
    }

    // Facets

    // States
}
