<template>
  <div class="dt-timeslots-patient">
    <button class="dt-timeslots-patient__close" @click="$emit('close')">
      <svg height="28" viewBox="0 0 48 48" width="28" xmlns="http://www.w3.org/2000/svg"><path d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
    </button>
    <form class="dt-timeslots-patient__form form"
          v-if="!confirmed"
          @submit.prevent="bookSlotHandler">
      <div class="form__inner">
        <div class="form__control">
          <label for="name" class="form__label">Name</label>
          <input
            id="name"
            required
            type="text"
            class="form__input"
            v-model="patient.name
          ">
        </div>
        <div class="form__control">
          <label for="phone" class="form__label">Phone</label>
          <input
            v-model="patient.phone"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            id="phone"
            type="tel"
            class="form__input
          ">
          <small class="form__small">Format: 079-123-1234</small>
        </div>
      </div>
      <div class="form__submit">
        <button class="button button--success">{{ $t('global.book') }}</button>
      </div>
    </form>
    <p class="dt-timeslots-patient__booked" v-else>Thank you. <br> You have booked your time slot</p>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "dt-timeslots-patient",
  data() {
    return {
      confirmed: false,
      patient: {
        name: "",
        phone: ""
      }
    }
  },
  computed: {
    ...mapGetters('time-slots', ['getDateRange'])
  },
  methods: {
    ...mapActions('time-slots', ['bookTimeSlot', 'fetchTimeSlotsList']),
    bookSlotHandler() {
      this.bookTimeSlot({patient: this.patient})
      .then(booked => {
        this.confirmed = booked
        this.fetchTimeSlotsList(this.getDateRange)
      })
    },
  }
}
</script>
