.dt-timeslot-checkbox {
    // Vars

    // Support

    // Module
    & {

      .dt-timeslot-checkbox-list__item {
        margin-bottom: 1.5rem;
      }

      .dt-timeslot-checkbox-list__input {
        display: none;
      }

      .dt-timeslot-checkbox-list__label {
        position: relative;
        display: flex;
        align-items: center;
        background-color: $c-off-white;
        padding: 1rem;
        border: 1px solid $c-border;
        transition: box-shadow 0.2s ease-in-out;
        cursor: pointer;
        border-radius: $border-radius;

        &:before {
          display: inline-block;
          content: "";
          width: 2rem;
          height: 2rem;
          background-color: $c-gray;
          border: 1px solid $c-border;
          border-radius: $border-radius;
          margin-right: 1rem;
        }

        &:after {
          content: '';
          position: absolute;
          left: 1.25rem;
          width: 1.4rem;
          height: 1.4rem;
          background-color: $c-primary;
          display: block;
          transform: scale(0);
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
      }

      .dt-timeslot-book {
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
    }

    // Facets

    // States
    & {
      .dt-timeslot-checkbox-list__input:checked + {
        .dt-timeslot-checkbox-list__label {
          box-shadow: $box-shadow;
          border-color: $c-primary;
          &:after {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
}
