<template>
  <div class="dt-timeslot-checkbox">
    <ul class="dt-timeslot-checkbox-list">
      <li class="dt-timeslot-checkbox-list__item"
          v-for="(value, key) in getTimeSlotsList"
          :key="key"
      >
        <input
          class="dt-timeslot-checkbox-list__input"
          v-model="currentDates"
          type="checkbox"
          :value="{date: key, slots: value}"
          :id="key">
        <label class="dt-timeslot-checkbox-list__label" :for="key">{{ key }}</label>
      </li>
    </ul>

    <div class="dt-timeslot-book" v-if="getBookingStatus && getTimeSlotsSelected.length">
      <button class="button button--success" @click="bookSlotHandler">{{ $t('global.book') }}</button>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "dt-timeslot-checkbox",
  computed: {
    ...mapGetters('time-slots', ['getTimeSlotsList', 'getTimeSlotsSelected', 'getBookingStatus']),
    currentDates: {
      get() {
        return this.getTimeSlotsSelected;
      },
      set(value) {
        this.storeTimeSlotsSelected(value)
      }
    }
  },
  watch: {
    currentDates(value) {
      if (!value.length) this.setReadyForBookingStatus(false)
    }
  },
  methods: {
    ...mapActions('time-slots', ['storeTimeSlotsSelected', 'setReadyForBookingStatus']),
    bookSlotHandler() {
      this.$emit('book-slot', true)
    }
  }
}
</script>
