.button {
  // Vars
  $button-width: 34rem;
  $disabled-bg: #ffc79e;

  // Support

  // Module
  & {
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    display: inline-block;
    color: currentColor;
    @include font--base-bold;
    transition: background-color .2s $cubic-300;
    text-decoration: none;
    padding: 1.28rem 3rem;
    border-radius: .3rem;
  }

  // Facets
  & {
    &.button--primary {
      background-color: $c-primary;
      color: $c-white;
    }

    &.button--success {
      background-color: $c-green;
      color: $c-white;
      width: 100%;
      padding: 1.5rem 3rem;
      font-size: 2rem;
    }
  }

  // States
  & {
    &.button--primary {
      &:hover {
        background-color: darken($c-primary, 4%);
      }
      &[disabled] {
        background-color: $disabled-bg;
        opacity: 1;
      }
    }

    &.button--success {
      &:hover {
        background-color: darken($c-green, 5%);
      }
      &[disabled] {
        opacity: 0.5;
      }
    }
  }
}


