@mixin font--base-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@mixin font--base-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

@mixin font--base-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

