.form {
    // Vars
    $placeholder-color: #9F9F9F;
    $border-radius: .3rem;

    // Support

    // Module
    & {
      .form__wrapper {
        position: relative;
      }

      .form__control {
        position: relative;
        @include mq('>lg') {
          margin-bottom: 1rem;
        }
      }

      .form__label {
        display: block;
        margin-bottom: .8rem;
        color: $c-blue-500;
        position: relative;
      }

      .form__input {
        display: block;
        background-color: $c-blue-100;
        padding: 1.2rem;
        border-radius: $border-radius;
        color: $c-blue-500;
        font-size: 1.8rem;
        transition: border-color .3s ease-in-out;
        width: 100%;
        border: 1px solid $c-border;
      }

      .form__small {
        margin-top: 0.6rem;
        display: block;
        font-size: 1.4rem
      }
    }

    // Facets

    // States
    & {
      .form__input {
        &::placeholder {
          color: $placeholder-color;
        }

        &:focus {
          border-color: $c-primary;
        }
      }
    }
}

