// Basic
$container-width: 1440px;
$border-radius: .25rem;

// Colors

// Primary
$c-primary: #71bec5;
$c-primary-dark: #3da3ad;

// Blue color list
$c-blue-100: #F3F7FA;
$c-blue-150: #E1E8ED;
$c-blue-200: #8097AC;
$c-blue-500: #112435;

// General Colors
$c-white: #fff;
$c-off-white: #f9f9f9;;
$c-black: #000;
$c-border: #D9D9D9;
$c-red: #FB2E2E;
$c-gray: #F8F8F8;
$body-bg: #F8F8F8;
$c-green: #41b883;

// Borders
$c-base-border: #AAB9C6;


// Font size
$base-font-size: 1.6rem;

// Box shadow
$box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);

// Gradient
$primary-gradient: radial-gradient(circle at top left, #{$c-primary} 0,#{$c-primary-dark} 100%)
