<template>
  <div class="dt-description">
    <h2 class="dt-description__title">{{ $t('pages.home.title') }}</h2>
    <p class="dt-description__text">{{ $t('pages.home.description') }}</p>
  </div>
</template>

<script>
export default {
  name: "dt-description"
}
</script>
