.dt-timeslots-record {
    // Vars
    $c-record-bg: #fff3cd;
    $c-record-color: #664d03;

    // Support

    // Module
    & {

      .dt-timeslots-record__inner {
        margin-bottom: 3rem;
      }

      .dt-timeslots-record__date {
        margin-bottom: 1.5rem;
      }

      .dt-timeslots-record__slots {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-gap: 1rem;
      }

      .dt-timeslots-record__slots-item {
        background-color: $c-off-white;
        padding: 1rem;
        border-radius: $border-radius;
        border: 1px solid darken($c-gray, 5%);
      }
    }

    // Facets
    & {
      .dt-timeslots-record__slots-item--active {
        background-color: $c-record-bg;
        color: $c-record-color;
        border-color: $c-record-color;
      }

      .dt-timeslots-record__slots-item--disabled {
        opacity: 0.5;
        user-select: none;
        background-color: darken($c-blue-150, 10%);
        cursor: not-allowed;
        border-color: darken($c-blue-150, 10%);
      }
    }

    // States
}
