<template>
  <div class="dt-timeslots-record">
    <template v-if="getTimeSlotsSelected.length">
      <div class="dt-timeslots-record__inner"
           v-for="(item, index) in getTimeSlotsSelected"
            :key="`record-${index}`">
        <h3 class="dt-timeslots-record__date">{{ item.date }}</h3>
        <div class="dt-timeslots-record__slots">
          <button
            class="dt-timeslots-record__slots-item"
            @click="selectTimeslotHandler(slot, $event)"
            v-for="(slot, i) in item.slots"
            :class="{'dt-timeslots-record__slots-item--disabled': slot.booked}"
           :key="`slot-${i}`
          ">
            {{ slot.from }} - {{ slot.to }}
          </button>
        </div>
      </div>
    </template>
    <p v-else>{{ $t('pages.home.noSelectedDatesRecord') }}</p>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "dt-timeslots-record",
  computed: {
    ...mapGetters('time-slots', ['getTimeSlotsSelected'])
  },
  methods: {
    ...mapActions('time-slots', ['setReadyForBookingStatus', 'setTimeSlotId']),
    selectTimeslotHandler(slot, event) {
      this.removeAllClasses();
      event.currentTarget.classList.add('dt-timeslots-record__slots-item--active');
      this.setReadyForBookingStatus(true);
      this.setTimeSlotId(slot.id)
    },
    removeAllClasses() {
      document.querySelectorAll('.dt-timeslots-record__slots-item:not(.dt-timeslots-record__slots-item--disabled)')
      .forEach(el => el.classList.remove('dt-timeslots-record__slots-item--active'))
    }
  }
}
</script>
