@mixin typography--h1() {
    @include font--base-bold;
    font-size: 3.8rem;
    margin-bottom: 2rem;
    @include mq('>md') {
      font-size: 5.8rem;
    }
}

@mixin typography--h2() {
    @include font--base-bold;
    font-size: 2.5rem;

    @include mq('>md') {
      font-size: 3.3rem;
    }
}

@mixin typography--h3() {
    @include font--base-bold;
    font-size: 2rem;
}

@mixin typography--h4() {
    @include font--base-bold;
    font-size: 1.8rem;
}

@mixin typography--h5() {
    @include font--base-bold;
    font-size: 1.6rem;
}
@mixin typography--h6() {
    @include font--base-bold;
    font-size: 1.4rem;
}

@mixin typography--text() {
    @include font--base-regular;
    font-size: 1.6rem;
    line-height: 1.4;
}

@mixin typography--text-small() {
    @include font--base-regular;
    font-size: 1.4rem;
}
