.dt-header {
    // Vars
    $logo-width: 27rem;

    // Support

    // Module
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      @include mq('>md') {
        padding: 0;
      }

      .dt-header__logo {
        width: 13rem;

        @include mq('>md') {
          width: $logo-width;
        }
      }

      .dt-header__lang-link {
        text-decoration: none;
        margin: 0 0.5rem;
        color: $c-black;
        background-color: transparent;
        padding: 1rem;
        border-radius: $border-radius;
        transition: background-color .15s ease-in-out;
      }
    }

    // Facets
    & {
      .dt-header__lang-link {
        &.nuxt-link-active {
          background-color: $c-primary;
          color: $c-white;
        }
      }
    }

    // States
}
