<template>
  <header class="dt-header">
    <img class="dt-header__logo" src="@/assets/images/logo.png" alt="Dento">

    <div class="dt-header__lang">
      <nuxt-link class="dt-header__lang-link" :to="switchLocalePath('en')">
        <span class="dt-header__lang-text">{{ $t('languages.en') }}</span>
      </nuxt-link>
      <nuxt-link class="dt-header__lang-link" :to="switchLocalePath('de')">
        <span class="dt-header__lang-text">{{ $t('languages.de') }}</span>
      </nuxt-link>
    </div>
  </header>
</template>

<script>
export default {
  name: "dt-header",
}
</script>
