.dt-timeslots {
    // Vars

    // Support

    // Module
    & {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      @include mq('>md') {
        grid-template-columns: 1fr 2fr;
      }

      .dt-timeslots__left,
      .dt-timeslots__right {
        padding: 2rem;
        background-color: $c-white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
      }

      .dt-timeslots__left {
        position: sticky;
        top: 2rem;
        max-height: 35rem;
        z-index: 1;
      }
    }

    // Facets

    // States
}
