<template>
  <div class="dt-timeslots">
    <div class="dt-timeslots__left">
      <dt-timeslots-checkbox @book-slot="bookSlotHandler" />
      <dt-timeslots-patient v-if="bookNow" @close="closeBookSlotForm" />
    </div>
    <div class="dt-timeslots__right">
      <dt-timeslots-record />
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "dt-timeslots",
  data() {
    return {
      bookNow: false
    }
  },
  methods: {
    ...mapActions('time-slots', ['storeTimeSlotsSelected']),
    bookSlotHandler(status) {
      this.bookNow = status
    },
    closeBookSlotForm() {
      this.bookNow = false;
      this.storeTimeSlotsSelected([])
    }
  }
}
</script>
