<template>
  <form class="dt-range" @submit.prevent="submitFormHandler">
    <div class="dt-range__inner">
      <ui-date-picker
        :locale="$i18n.locale"
        v-model="range"
        :model-config="modelConfig"
        is-range
        color="teal">
        <template v-slot="{ inputValue, inputEvents, isDragging }">
          <div class="dt-range__wrapper">
            <div class="dt-range__wrapper-item">
              <svg class="dt-range__icon" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
              <input
                class="dt-range__input"
                :class="isDragging ? 'text-gray-600' : 'text-gray-900'"
                :value="range.start"
                v-on="inputEvents.start"
              />
            </div>
            <svg class="dt-range__arrow" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"/>
            </svg>
            <div class="dt-range__wrapper-item">
              <svg class="dt-range__icon" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
              <input
                class="dt-range__input"
                :class="isDragging ? 'text-gray-600' : 'text-gray-900'"
                :value="range.end"
                v-on="inputEvents.end"
              />
            </div>
          </div>
        </template>
      </ui-date-picker>
    </div>
    <div class="dt-range__submit">
      <button class="button button--primary">{{ $t('global.search') }}</button>
    </div>
  </form>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "dt-range",
  data() {
    return {
      range: {
        start: "2021-01-01",
        end: "2021-01-07",
      },
      modelConfig: {
        type: 'string',
        mask: 'YYYY-MM-DD',
      },
    };
  },
  watch: {
    range(value) {
      this.setDateRange(value)
    }
  },
  computed: {
    ...mapGetters('time-slots', ['getTimeSlotsSelected', 'getDateRange'])
  },
  methods: {
    ...mapActions('time-slots', ['fetchTimeSlotsList', 'storeTimeSlotsSelected', 'setLoadingStatus', 'setDateRange']),
    submitFormHandler() {
      console.log(this.getDateRange)
      this.setLoadingStatus(true)
      this.setDateRange(this.range)
      this.fetchTimeSlotsList(this.range)
      .then(_ => {
        if (this.getTimeSlotsSelected.length) this.storeTimeSlotsSelected([])
        // Only to show the loader
        setTimeout(() => this.setLoadingStatus(false), 800)
      }).catch(err => {
        // @TODO error handling
        this.setLoadingStatus(false)
      })
    }
  }
}
</script>
