.dt-range {
    // Vars
    $c-input-bg: rgb(247, 250, 252);
    $c-border: rgb(226, 232, 240);
    $border-radius: .25rem;


    // Support

    // Module
    & {
      background-color: $c-white;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      margin-bottom: 3rem;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      @include mq('>md') {
        flex-direction: row;
      }

      .dt-range__input {
        background-color: $c-input-bg;
        border: 1px solid $c-border;
        padding: 1rem 1rem 1rem 3.5rem;
        @include typography--text;
      }

      .dt-range__icon {
        width: 1.6rem;
        position: absolute;
        height: 100%;
        margin: 0 1rem;
      }

      .dt-range__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include mq('>md') {
          flex-direction: row;
        }
      }

      .dt-range__wrapper-item {
        position: relative;
      }

      .dt-range__title {
        margin-bottom: 1rem;
      }

      .dt-range__arrow {
        width: 2rem;
        margin: 1rem;
        display: block;
        stroke: $c-primary;
      }

      .dt-range__submit {
        @include mq('<=md') {
          margin-top: 2rem;
        }
      }
    }

    // Facets

    // States
}
